* { margin: 0; padding: 0; }
body { width: 1024px; height: 768px; }
		
div#wrapper {
	width: 1024px;
	height: 768px;
	background: url(../images/bg.png);
	position: relative;
}
div#logo {
	width: 216px;
	height: 72px;
	background: url(../images/logo.png);
	position: absolute;
	left: 100px;
	top: 100px;
}
div#navPrev {
	width: 32px;
	height: 59px;
	background: url(../images/arrows.png);
	position: absolute;
	cursor: pointer;
	top: 350px;
	left: 11px;
}
div#navNext {
	width: 32px;
	height: 59px;
	background: url(../images/arrows.png);
	background-position: -32px 0;
	position: absolute;
	top: 350px;
	right: 11px;
}
input#send {
	width: 32px;
	height: 59px;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	cursor: pointer;
	display: none;
}
div#pill {
	width: 86px;
	height: 80px;
	position: absolute;
	cursor: move;
	top: 270px;
	left: 100px;
}
div#oldman {
	width: 660px;
	height: 380px;
	background: url(../images/oldman.png);
	position: absolute;
	top: 75px;
	left: 175px;
}
div#figures {
	width: 768px;
	height: 20px;
	background: url(../images/figures.png);
	position: absolute;
	top: 458px;
	left: 128px;
	z-index: 2;
}
div#rollerBox {
	width: 820px;
	height: 102px;
	position: absolute;
	z-index: 1;
	top: 445px;
	left: 108px;
}
div#buttons {
	width: 522px;
	height: 55px;
	position: absolute;
	top: 585px;
	left: 260px;
}
div#per1, div#per2, div#per3 {
	width: 164px;
	height: 55px;
	background: url(../images/buttons.png);
	cursor: pointer;
	float: left;
}
div#per1, div#per2 { margin-right: 15px; }
div#per2 { background-position: 0 -110px; }
div#per3 { background-position: 0 -220px; }

div#form {
	display: none;
}

input[type=range] {
    -webkit-appearance: none;
	background-color: transparent;
	width: 800px;
	height: 102px;
	border: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 800px;
	border: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-image: url(../images/roller.png);
	width: 54px;
	height: 102px;
	border: none;
	cursor: pointer;
}
input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background-color: transparent;
}

input[type=range]::-moz-range-track {
    width: 800px;
    background-color: transparent;
    border: none;
}
input[type=range]::-moz-range-thumb {
    height: 102px;
    width: 54px;
    background-image: url(../images/roller.png);
	margin-top: 73px;
	cursor: pointer;
	border: none;
}

input[type=range]::-ms-track {
    width: 800px;
	height: 102px;
    background: none;
    color: transparent;
	border: none;
}

input[type=range]::-ms-fill-lower, input[type=range]::-ms-fill-upper, input[type=range]:focus::-ms-fill-lower, input[type=range]:focus::-ms-fill-upper  {
    background: none;
	color: transparent;
}

input[type=range]::-ms-thumb {
    background-image: url(../images/roller.png);
	width: 54px;
	height: 102px;
	cursor: pointer;
	color: transparent;
	border: none;
}
